flake8==6.0.0
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1

# Deps do pytest
tomli==1.0.0
exceptiongroup>=1.0.0rc8
pluggy<2.0,>=0.12
pytest==7.3.1
iniconfig==2.0.0

#coverage
coverage==7.2.5
pytest-cov==4.0.0

#pytest-mock
pytest-mock==3.10.0


-r requirements.txt
